html, body, #root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.txtLimit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-open {
    overflow: hidden;
}
a {
    color: #fff;
    text-decoration: underline;
}